  $$\                                         $$\           $$\       
  $$ |                                        $$ |          $$ |      
  $$$$$$$\   $$$$$$\  $$$$$$\$$$$\   $$$$$$\  $$ | $$$$$$\  $$$$$$$\  
  $$  __$$\ $$  __$$\ $$  _$$  _$$\ $$  __$$\ $$ | \____$$\ $$  __$$\ 
  $$ |  $$ |$$ /  $$ |$$ / $$ / $$ |$$$$$$$$ |$$ | $$$$$$$ |$$ |  $$ |
  $$ |  $$ |$$ |  $$ |$$ | $$ | $$ |$$   ____|$$ |$$  __$$ |$$ |  $$ |
  $$ |  $$ |\$$$$$$  |$$ | $$ | $$ |\$$$$$$$\ $$ |\$$$$$$$ |$$$$$$$  |
  \__|  \__| \______/ \__| \__| \__| \_______|\__| \_______|\_______/ 

    Hostname........: {{ ansible_fqdn }}
    IP-Address......: {{ ansible_default_ipv4.address }}
    Distribution....: {{ ansible_distribution }} {{ ansible_distribution_major_version }} ({{ ansible_system }})

  ********************************************************************
  *                                                                  *
  *          WARNING: Unauthorized access to this system             *
  *          is strictly prohibited and will be monitored.           *
  *                                                                  *
  ********************************************************************
